UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/ManualComboBoxLocationsService/ManualComboBoxLocationsService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3069/ManualComboBoxLocationsService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMatchesForArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toMatch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iStartIndex" type="xs:int" />
        <xs:element minOccurs="0" name="iNumItems" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesForArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMatchesForArgumentResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>