UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/SoaComboBoxLocationService/SoaComboBoxLocationService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ComponentArt.SOA.UI" elementFormDefault="qualified" targetNamespace="ComponentArt.SOA.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3069/SoaComboBoxLocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q1:SoaComboBoxInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="InsertResult" nillable="true" type="q2:SoaComboBoxInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q3:SoaComboBoxSelectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="SelectResult" nillable="true" type="q4:SoaComboBoxSelectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>