UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/SoaMenuDemoService/SoaMenuDemoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ComponentArt.SOA.UI" elementFormDefault="qualified" targetNamespace="ComponentArt.SOA.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2875/SoaMenuDemoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" />
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q1:SoaMenuSelectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="SelectResult" nillable="true" type="q2:SoaMenuSelectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>