UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/SoaMenuDemoService/SoaMenuDemoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SoaMenuSelectRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SoaMenuRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SoaMenuSelectRequest" nillable="true" type="tns:SoaMenuSelectRequest" />
  <xs:complexType name="SoaMenuRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoaMenuRequest" nillable="true" type="tns:SoaMenuRequest" />
  <xs:complexType name="SoaMenuSelectResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SoaMenuResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSoaMenuItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SoaMenuSelectResponse" nillable="true" type="tns:SoaMenuSelectResponse" />
  <xs:complexType name="SoaMenuResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoaMenuResponse" nillable="true" type="tns:SoaMenuResponse" />
  <xs:complexType name="ArrayOfSoaMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoaMenuItem" nillable="true" type="tns:SoaMenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoaMenuItem" nillable="true" type="tns:ArrayOfSoaMenuItem" />
  <xs:complexType name="SoaMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSeparator" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSoaMenuItem" />
      <xs:element minOccurs="0" name="NavigateUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoaMenuItem" nillable="true" type="tns:SoaMenuItem" />
</xs:schema>