UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/WCFCarService/WCFCarService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3069/WCFCarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" />
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q1:ArrayOfCarCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" minOccurs="0" name="GetModelsResult" nillable="true" type="q2:ArrayOfCarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" minOccurs="0" name="GetSalesResult" nillable="true" type="q3:ArrayOfCarSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>