UIFramework2012/ComponentArt.Win.Demos/ComponentArt.Win.Demos.Xbap/Service References/ManualNavBarService/ManualNavBarService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyNavBarData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyNavBarData" nillable="true" type="tns:MyNavBarData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyNavBarData" nillable="true" type="tns:ArrayOfMyNavBarData" />
  <xs:complexType name="MyNavBarData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLoadOnDemandEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfMyNavBarData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyNavBarData" nillable="true" type="tns:MyNavBarData" />
</xs:schema>