UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/MessageService/WCFMessageService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LargeEmailIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPostDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PriorityIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Replies" type="xs:int" />
      <xs:element minOccurs="0" name="StartedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalViews" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>