UIFramework2012/ComponentArt.Win.Demos/ComponentArt.Win.Demos.Xbap/Service References/SalesDataService/SalesDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DateRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateRange" nillable="true" type="tns:DateRange" />
  <xs:simpleType name="TimePeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Decade" />
      <xs:enumeration value="Year" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Day" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TimePeriod" nillable="true" type="tns:TimePeriod" />
  <xs:complexType name="ArrayOfSalesRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesRecord" nillable="true" type="tns:SalesRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesRecord" nillable="true" type="tns:ArrayOfSalesRecord" />
  <xs:complexType name="SalesRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" type="xs:double" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Downloads" type="xs:double" />
      <xs:element minOccurs="0" name="Inquiries" type="xs:double" />
      <xs:element minOccurs="0" name="Sales" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesRecord" nillable="true" type="tns:SalesRecord" />
  <xs:complexType name="ArrayOfStringSalesRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StringSalesRecord" nillable="true" type="tns:StringSalesRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStringSalesRecord" nillable="true" type="tns:ArrayOfStringSalesRecord" />
  <xs:complexType name="StringSalesRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" type="xs:double" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Downloads" type="xs:double" />
      <xs:element minOccurs="0" name="Inquiries" type="xs:double" />
      <xs:element minOccurs="0" name="Sales" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringSalesRecord" nillable="true" type="tns:StringSalesRecord" />
  <xs:complexType name="ArrayOfProductSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSummary" nillable="true" type="tns:ProductSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSummary" nillable="true" type="tns:ArrayOfProductSummary" />
  <xs:complexType name="ProductSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Downloads" type="xs:double" />
      <xs:element minOccurs="0" name="Inquiries" type="xs:double" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sales" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSummary" nillable="true" type="tns:ProductSummary" />
  <xs:complexType name="DashboardData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" type="xs:double" />
      <xs:element minOccurs="0" name="ProductSummaryData" nillable="true" type="tns:ArrayOfProductSummary" />
      <xs:element minOccurs="0" name="SalesData" nillable="true" type="tns:ArrayOfSalesRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardData" nillable="true" type="tns:DashboardData" />
</xs:schema>