UIFramework2012/ComponentArt.Win.Demos/ComponentArt.Win.Demos.Exe/Service References/MessageService/WCFMessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3521/Services/WCFMessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" />
  <xs:element name="GetRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" minOccurs="0" name="GetRecordsResult" nillable="true" type="q1:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>