UIFramework2012/ComponentArt.Web.UI/2.0_ajax/NavBar/ComponentArt.NavBar.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema id="ComponentArt NavBar Schema" elementFormDefault="qualified" targetNamespace="ComponentArt.Web.UI NavBar Schema" xmlns="ComponentArt.Web.UI NavBar Schema" xmlns:mstns="ComponentArt.Web.UI NavBar Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="NavBarData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="NavBarItem" type="NavBarItem" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NavBarItem">
    <xsd:complexType>
      <xsd:attribute name="AutoPostBackOnCollapse" type="xsd:boolean" />
      <xsd:attribute name="AutoPostBackOnExpand" type="xsd:boolean" />
      <xsd:attribute name="AutoPostBackOnSelect" type="xsd:boolean" />
      <xsd:attribute name="CausesValidation" type="InheritBool" />
      <xsd:attribute name="ChildSelectedLook-ActiveImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ActiveImageUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ActiveImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ActiveLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ActiveLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ActiveLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ActiveRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ActiveRightIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ActiveRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-CssClass" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ExpandedCssClass" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ExpandedImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ExpandedImageUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ExpandedImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ExpandedLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ExpandedLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ExpandedLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ExpandedRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ExpandedRightIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ExpandedRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-HoverCssClass" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-HoverImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-HoverImageUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-HoverImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-HoverLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-HoverLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-HoverLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-HoverRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-HoverRightIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-HoverRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-ImageUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-ImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-LeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-LeftIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-LeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-LabelPaddingBottom" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-LabelPaddingLeft" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-LabelPaddingRight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-LabelPaddingTop" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-RightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLook-RightIconUrl" type="xsd:string" />
      <xsd:attribute name="ChildSelectedLook-RightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ChildSelectedLookId" type="xsd:string" />
      <xsd:attribute name="ClientSideCommand" type="xsd:string" />
      <xsd:attribute name="CssClass" type="xsd:string" />
      <xsd:attribute name="DefaultSubItemChildSelectedLookId" type="xsd:string" />
      <xsd:attribute name="DefaultSubItemDisabledLookId" type="xsd:string" />
      <xsd:attribute name="DefaultSubItemLookId" type="xsd:string" />
      <xsd:attribute name="DefaultSubItemSelectedLookId" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ActiveCssClass" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ActiveImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ActiveImageUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ActiveImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ActiveLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ActiveLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ActiveLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ActiveRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ActiveRightIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ActiveRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-CssClass" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ExpandedCssClass" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ExpandedImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ExpandedImageUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ExpandedImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ExpandedLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ExpandedLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ExpandedLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ExpandedRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ExpandedRightIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ExpandedRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-HoverCssClass" type="xsd:string" />
      <xsd:attribute name="DisabledLook-HoverImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-HoverImageUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-HoverImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-HoverLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-HoverLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-HoverLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-HoverRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-HoverRightIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-HoverRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-ImageUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-ImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-LeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-LeftIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-LeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-LabelPaddingBottom" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-LabelPaddingLeft" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-LabelPaddingRight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-LabelPaddingTop" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-RightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLook-RightIconUrl" type="xsd:string" />
      <xsd:attribute name="DisabledLook-RightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="DisabledLookId" type="xsd:string" />
      <xsd:attribute name="Enabled" type="xsd:boolean" />
      <xsd:attribute name="Expanded" type="xsd:boolean" />
      <xsd:attribute name="Height" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="ID" type="xsd:string" />
      <xsd:attribute name="KeyboardShortcut" type="xsd:string" />
      <xsd:attribute name="Look-ActiveCssClass" type="xsd:string" />
      <xsd:attribute name="Look-ActiveImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ActiveImageUrl" type="xsd:string" />
      <xsd:attribute name="Look-ActiveImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ActiveLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ActiveLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-ActiveLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ActiveRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ActiveRightIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-ActiveRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-CssClass" type="xsd:string" />
      <xsd:attribute name="Look-ExpandedCssClass" type="xsd:string" />
      <xsd:attribute name="Look-ExpandedImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ExpandedImageUrl" type="xsd:string" />
      <xsd:attribute name="Look-ExpandedImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ExpandedLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ExpandedLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-ExpandedLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ExpandedRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ExpandedRightIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-ExpandedRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-HoverCssClass" type="xsd:string" />
      <xsd:attribute name="Look-HoverImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-HoverImageUrl" type="xsd:string" />
      <xsd:attribute name="Look-HoverImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-HoverLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-HoverLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-HoverLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-HoverRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-HoverRightIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-HoverRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-ImageUrl" type="xsd:string" />
      <xsd:attribute name="Look-ImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-LeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-LeftIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-LeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-LabelPaddingBottom" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-LabelPaddingLeft" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-LabelPaddingRight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-LabelPaddingTop" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-RightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Look-RightIconUrl" type="xsd:string" />
      <xsd:attribute name="Look-RightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="LookId" type="xsd:string" />
      <xsd:attribute name="NavigateUrl" type="xsd:string" />
      <xsd:attribute name="PageViewId" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ActiveCssClass" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ActiveImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ActiveImageUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ActiveImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ActiveLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ActiveLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ActiveLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ActiveRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ActiveRightIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ActiveRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-CssClass" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ExpandedCssClass" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ExpandedImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ExpandedImageUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ExpandedImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ExpandedLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ExpandedLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ExpandedLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ExpandedRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ExpandedRightIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ExpandedRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-HoverCssClass" type="xsd:string" />
      <xsd:attribute name="SelectedLook-HoverImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-HoverImageUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-HoverImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-HoverLeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-HoverLeftIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-HoverLeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-HoverRightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-HoverRightIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-HoverRightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ImageHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-ImageUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-ImageWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-LeftIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-LeftIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-LeftIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-LabelPaddingBottom" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-LabelPaddingLeft" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-LabelPaddingRight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-LabelPaddingTop" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-RightIconHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLook-RightIconUrl" type="xsd:string" />
      <xsd:attribute name="SelectedLook-RightIconWidth" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SelectedLookId" type="xsd:string" />
      <xsd:attribute name="SiteMapXmlFile" type="xsd:string" />
      <xsd:attribute name="SubGroupCssClass" type="xsd:string" />
      <xsd:attribute name="SubGroupHeight" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="SubGroupItemSpacing" type="xsd:nonNegativeInteger" />
      <xsd:attribute name="Target" type="xsd:string" />
      <xsd:attribute name="TemplateId" type="xsd:string" />
      <xsd:attribute name="Text" type="xsd:string" />
      <xsd:sequence>
        <xsd:element name="NavBarItem" type="NavBarItem" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>