UIFramework2012/ComponentArt.Win.Demos/ComponentArt.Win.Demos.Exe/Service References/ManualTreeViewFileExplorerService/ManualTreeViewFileExplorerService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1337/Services/ManualTreeViewFileExplorerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" />
  <xs:element name="GetNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentNodePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" minOccurs="0" name="GetNodesResult" nillable="true" type="q1:ArrayOfMyTreeViewNodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>