UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/SoaDataGridMessageService/SoaDataGridMessageService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ComponentArt.SOA.UI" elementFormDefault="qualified" targetNamespace="ComponentArt.SOA.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3069/SoaDataGridMessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" />
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q1:SoaDataGridDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="DeleteResult" nillable="true" type="q2:SoaDataGridDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q3:SoaDataGridGroupRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="GroupResult" nillable="true" type="q4:SoaDataGridGroupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q5:SoaDataGridInsertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="InsertResult" nillable="true" type="q6:SoaDataGridInsertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q7:SoaDataGridSelectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="SelectResult" nillable="true" type="q8:SoaDataGridSelectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="request" nillable="true" type="q9:SoaDataGridUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" minOccurs="0" name="UpdateResult" nillable="true" type="q10:SoaDataGridUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>