UIFramework2012/ComponentArt.Win.Demos/ComponentArt.Win.Demos.Xbap/Service References/WCFCarService/WCFCarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WCFCarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1337/Services/WCFCarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1337/Services/WCFCarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1337/Services/WCFCarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.Win.Demos.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFCarService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="WCFCarService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="WCFCarService_GetModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModels" />
  </wsdl:message>
  <wsdl:message name="WCFCarService_GetModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsResponse" />
  </wsdl:message>
  <wsdl:message name="WCFCarService_GetSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSales" />
  </wsdl:message>
  <wsdl:message name="WCFCarService_GetSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFCarService">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFCarService/GetCategories" message="tns:WCFCarService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFCarService/GetCategoriesResponse" message="tns:WCFCarService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFCarService/GetModels" message="tns:WCFCarService_GetModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFCarService/GetModelsResponse" message="tns:WCFCarService_GetModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFCarService/GetSales" message="tns:WCFCarService_GetSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFCarService/GetSalesResponse" message="tns:WCFCarService_GetSales_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_WCFCarService" type="tns:WCFCarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/WCFCarService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <soap:operation soapAction="http://tempuri.org/WCFCarService/GetModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap:operation soapAction="http://tempuri.org/WCFCarService/GetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFCarService">
    <wsdl:port name="BasicHttpBinding_WCFCarService" binding="tns:BasicHttpBinding_WCFCarService">
      <soap:address location="http://localhost:1337/Services/WCFCarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>