UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/TreeViewFileBrowserService/TreeViewFileBrowserService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="ComponentArt.SOA.UI" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="ComponentArt.SOA.UI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ComponentArt.SOA.UI/Imports">
      <xsd:import schemaLocation="http://localhost:3069/TreeViewFileBrowserService.svc?xsd=xsd0" namespace="ComponentArt.SOA.UI" />
      <xsd:import schemaLocation="http://localhost:3069/TreeViewFileBrowserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3069/TreeViewFileBrowserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.SOA.UI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISoaTreeViewService_DeleteNode_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNode" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_DeleteNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_AddNode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNode" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_AddNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_GetNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodes" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_GetNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodesResponse" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_MoveNode_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveNode" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_MoveNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveNodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_EditNode_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNode" />
  </wsdl:message>
  <wsdl:message name="ISoaTreeViewService_EditNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISoaTreeViewService">
    <wsdl:operation name="DeleteNode">
      <wsdl:input wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/DeleteNode" message="tns:ISoaTreeViewService_DeleteNode_InputMessage" />
      <wsdl:output wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/DeleteNodeResponse" message="tns:ISoaTreeViewService_DeleteNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNode">
      <wsdl:input wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/AddNode" message="tns:ISoaTreeViewService_AddNode_InputMessage" />
      <wsdl:output wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/AddNodeResponse" message="tns:ISoaTreeViewService_AddNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNodes">
      <wsdl:input wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/GetNodes" message="tns:ISoaTreeViewService_GetNodes_InputMessage" />
      <wsdl:output wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/GetNodesResponse" message="tns:ISoaTreeViewService_GetNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveNode">
      <wsdl:input wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/MoveNode" message="tns:ISoaTreeViewService_MoveNode_InputMessage" />
      <wsdl:output wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/MoveNodeResponse" message="tns:ISoaTreeViewService_MoveNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNode">
      <wsdl:input wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/EditNode" message="tns:ISoaTreeViewService_EditNode_InputMessage" />
      <wsdl:output wsaw:Action="ComponentArt.SOA.UI/ISoaTreeViewService/EditNodeResponse" message="tns:ISoaTreeViewService_EditNode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>