UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/ManualTreeViewFileExplorerService/ManualTreeViewFileExplorerService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyTreeViewNodeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyTreeViewNodeData" nillable="true" type="tns:MyTreeViewNodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyTreeViewNodeData" nillable="true" type="tns:ArrayOfMyTreeViewNodeData" />
  <xs:complexType name="MyTreeViewNodeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsExpanded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLoadOnDemandEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nodes" nillable="true" type="tns:ArrayOfMyTreeViewNodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyTreeViewNodeData" nillable="true" type="tns:MyTreeViewNodeData" />
</xs:schema>