UIFramework2012/ComponentArt.Silverlight.Demos/ComponentArt.Silverlight.Demos/Service References/SalesDataService/SalesDataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:3069/SalesDataService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:3069/SalesDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3069/SalesDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComponentArt.Silverlight.Demos.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SalesDataService_GetData_InputMessage">
    <wsdl:part name="parameters" element="GetData" />
  </wsdl:message>
  <wsdl:message name="SalesDataService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDataService_GetProductSummaryData_InputMessage">
    <wsdl:part name="parameters" element="GetProductSummaryData" />
  </wsdl:message>
  <wsdl:message name="SalesDataService_GetProductSummaryData_OutputMessage">
    <wsdl:part name="parameters" element="GetProductSummaryDataResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDataService_GetDashboardData_InputMessage">
    <wsdl:part name="parameters" element="GetDashboardData" />
  </wsdl:message>
  <wsdl:message name="SalesDataService_GetDashboardData_OutputMessage">
    <wsdl:part name="parameters" element="GetDashboardDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesDataService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="urn:SalesDataService/GetData" message="SalesDataService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="urn:SalesDataService/GetDataResponse" message="SalesDataService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSummaryData">
      <wsdl:input wsaw:Action="urn:SalesDataService/GetProductSummaryData" message="SalesDataService_GetProductSummaryData_InputMessage" />
      <wsdl:output wsaw:Action="urn:SalesDataService/GetProductSummaryDataResponse" message="SalesDataService_GetProductSummaryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDashboardData">
      <wsdl:input wsaw:Action="urn:SalesDataService/GetDashboardData" message="SalesDataService_GetDashboardData_InputMessage" />
      <wsdl:output wsaw:Action="urn:SalesDataService/GetDashboardDataResponse" message="SalesDataService_GetDashboardData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>